.inputDisplay {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.calculatorButtonsDiv {
    display: flex;
    justify-content: center;
}

.calculatorButtonsDiv > span {
    display: flex;
    flex-direction: column;
}

.calculatorButtonsDiv > span > button {
    background-color: rgb(51, 51, 51, 0.8);
    border: none;
    padding: 25px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 3px;
}

.calculatorButtonsDiv > span:first-child > button:first-child {
    background-color: rgb(191, 191, 191);
    border: none;
    padding: 25px;
    border-radius: 50%;
}

.calculatorButtonsDiv > span:last-child > button {
    background-color: orange;
    border: none;
    padding: 25px;
    border-radius: 50%;
}